<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <unity>
    <container>
      <register type ="EFCodeFirst.DAL.UserDataRepo.IGenericDataManager,EFCodeFirst.DAL"
                mapTo ="EFCodeFirst.DAL.UserDataRepo.GenericDataManager,EFCodeFirst.DAL"/>
      <register type ="EFCodeFirst.BL.IGenericManager,EFCodeFirst.BL"
                mapTo ="EFCodeFirst.BL.GenericManager,EFCodeFirst.BL"/>
    </container>
  </unity>

  <connectionStrings>
    <add name="UserEntities" 
         connectionString="data source=(localdb)\MSSQLLocalDB;
                           initial catalog=UserDB;
                           integrated security=SSPI;
                           MultipleActiveResultSets=True;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>